In [1]:
age=int(input('Enter your age'))
print(age)

6

In [2]:
age=float(input(age))

In [3]:

print(age)

6.0

In [4]:
num1=float(input('Enter num1'))
num2=float(input('Enter num2'))
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2

print('add',add)
print('sub',sub)
print('mul',mul)
print('div',div)

add 15.0
sub -1.0
mul 56.0
div 0.875

In [7]:
a1='hello'
print(a1+' string')

hello string

In [8]:
a=float(input('Enter a'))
b=float(input('Enter b'))
exp=a**b
floor=a//b
mod=a%b
print('exp',exp)
print('floor',floor)
print('mod',mod)

exp 1000.0
floor 3.0
mod 1.0

In [9]:
age=20
if age>=20:
    print('allowed for voting')
else:
    print('not allowed')

allowed for voting

In [10]:
age>=18

True

In [15]:
age=int(input('Enter Age'))
if age<13:
    print('kids')
elif age>13 and age<19:
    print('teenage')
else:
    print('adult')
    print(age)

adult
56

In [19]:
number=int(input(print('Enter number')))
print(number)
if number>0:
    if number%2==0:
        print('Even number')
    else:
        print('odd number')
else:
    print('Negative number')

Enter number
-9
Negative number

In [22]:
print(range(0,10,2))

range(0, 10, 2)

In [23]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(20,10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [28]:
str='ramakrishna reddy'
for i in str:
    print(i)

r
a
m
a
k
r
i
s
h
n
a

r
e
d
d
y

In [33]:
count=1
while count<=5:
        print(count)
        count=count+1

1
2
3
4
5

In [35]:
for i in range(4):
    for j in range(5):
        print(f'i,{i},j,{j}')

i,0,j,0
i,0,j,1
i,0,j,2
i,0,j,3
i,0,j,4
i,1,j,0
i,1,j,1
i,1,j,2
i,1,j,3
i,1,j,4
i,2,j,0
i,2,j,1
i,2,j,2
i,2,j,3
i,2,j,4
i,3,j,0
i,3,j,1
i,3,j,2
i,3,j,3
i,3,j,4

In [36]:
lst=()

In [37]:
print(type(lst))

<class 'tuple'>

In [38]:
lst={}

In [41]:
print(type(lst))

<class 'tuple'>

In [40]:
lst=()

In [42]:
print(type(lst))

<class 'tuple'>

In [60]:
lst=['venkat',1,5,9.3,'surendra',4,24,'Rakshan']
print(lst[0:4][1])

1

In [63]:
print(lst[1:7])

[1, 5, 9.3, 'surendra', 4, 24]

In [69]:
print(lst[1:7][1:4][1])

9.3

In [73]:
print(lst[3::])

[9.3, 'surendra', 4, 24, 'Rakshan']

In [75]:
numbers=[1,2,3,4,5,6,7,8,9]
print(numbers[::-3])

[9, 6, 3]

In [76]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9

In [77]:
print(enumerate(numbers))

<enumerate object at 0x0000014B9840F2E0>

In [79]:
lst1=[]
for i in range(10):
    lst1.append(i**2)
print(lst1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
lst2=[4,5,6,7,3,4,2,1,2,3,4]
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[0, 4], [0, 5], [0, 6], [0, 7], [0, 3], [0, 4], [0, 2], [0, 1], [0, 2], [0, 3], [0, 4], [1, 4], [1, 5], [1, 6], [1, 7], [1, 3], [1, 4], [1, 2], [1, 1], [1, 2], [1, 3], [1, 4], [4, 4], [4, 5], [4, 6], [4, 7], [4, 3], [4, 4], [4, 2], [4, 1], [4, 2], [4, 3], [4, 4], [9, 4], [9, 5], [9, 6], [9, 7], [9, 3], [9, 4], [9, 2], [9, 1], [9, 2], [9, 3], [9, 4], [16, 4], [16, 5], [16, 6], [16, 7], [16, 3], [16, 4], [16, 2], [16, 1], [16, 2], [16, 3], [16, 4], [25, 4], [25, 5], [25, 6], [25, 7], [25, 3], [25, 4], [25, 2], [25, 1], [25, 2], [25, 3], [25, 4], [36, 4], [36, 5], [36, 6], [36, 7], [36, 3], [36, 4], [36, 2], [36, 1], [36, 2], [36, 3], [36, 4], [49, 4], [49, 5], [49, 6], [49, 7], [49, 3], [49, 4], [49, 2], [49, 1], [49, 2], [49, 3], [49, 4], [64, 4], [64, 5], [64, 6], [64, 7], [64, 3], [64, 4], [64, 2], [64, 1], [64, 2], [64, 3], [64, 4], [81, 4], [81, 5], [81, 6], [81, 7], [81, 3], [81, 4], [81, 2], [81, 1], [81, 2], [81, 3], [81, 4]]

In [90]:
l=['apple',['banana',['grape']]]
print(l[1][1])

['grape']

In [96]:
l=['Orange',['Nagpur',['MH',['Shivaji',['Shambaji',['Chava',['VK']]]]]]]
print(l[1][1][1][1][1][1])

['VK']

In [98]:
l=[[['onion']]]
print(l[0][0][0])

onion

In [104]:
student={'student1':{'name':'venkat','age':32,'location':'HYD'},'student2':{'name':'venkat','age':32,'location':'HYD'}}

In [107]:
print(student['student1']['age'])

32

In [111]:
for student_id, student_info in student.items():
    print(f'student_id {student_id}:student_info {student_info}')
for student_name, student_id in student_info.items():
    print(f'stundent_name {student_name}:student_id {student_id}')

student_id student1:student_info {'name': 'venkat', 'age': 32, 'location': 'HYD'}
student_id student2:student_info {'name': 'venkat', 'age': 32, 'location': 'HYD'}
stundent_name name:student_id venkat
stundent_name age:student_id 32
stundent_name location:student_id HYD

In [112]:
import pandas as pd

In [115]:
s=pd.Series([1,2,3,4,5],index=[6,7,8,9,0])

In [116]:
print(s)

6    1
7    2
8    3
9    4
0    5
dtype: int64

In [119]:
df=pd.DataFrame([1,2,3,4,5],['a','b','c','d','e'],[6,7,8,9,2])

ValueError: Shape of passed values is (5, 1), indices imply (5, 5)

In [118]:
print(df)

   0
6  1
7  2
8  3
9  4
2  5

In [121]:
import numpy as np

arr = np.array([[1, 2, 3],
                [4, 5, 6]])

# Indexing
print(arr[0])         # ➤ [1 2 3] (first row)
print(arr[1, 2])      # ➤ 6 (row 1, col 2)
print(arr[1][2])
print(arr[:, 1])      # ➤ [2 5] (2nd column)

# Slicing
print(arr[0:2, 1:])   # ➤ [[2 3], [5 6]]

[1 2 3]
6
6
[2 5]
[[2 3]
 [5 6]]

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NY', 'LA', 'Chicago']
}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
# df=pd.DataFrame(data)
print(df)

# Label-based indexing using .loc
print(df.loc['a'])           # ➤ Row with index 'a'
print(df.loc['b', 'Name'])   # ➤ 'Bob'

# Position-based indexing using .iloc
print(df.iloc[0])            # ➤ First row
print(df.iloc[1, 2])         # ➤ 'LA'

# Slicing
print(df.iloc[0:2, 0:2])     # ➤ First 2 rows & first 2 columns

# Mixed indexing
print(df['Name'])            # ➤ Column access

      Name  Age     City
a    Alice   25       NY
b      Bob   30       LA
c  Charlie   35  Chicago
Name    Alice
Age        25
City       NY
Name: a, dtype: object
Bob
Name    Alice
Age        25
City       NY
Name: a, dtype: object
LA
    Name  Age
a  Alice   25
b    Bob   30
a      Alice
b        Bob
c    Charlie
Name: Name, dtype: object